{% extends "layout.html.twig" %}

{% block content %}


    {% if is_granted('ROLE_ADMIN') %}
        ADMIN_ROLE
    {% else %}
        asdf
    {% endif %}


    <div>
        {{ user.getUserName() }}
    </div>
    <div>
        <a href="{{ path('admin_logout') }}">Logout</a>
    </div>
{% endblock %}
